
body
{
	background: red;
	font-family: Cabin;
	color: yellow;
}

.card { height: 200px;
		width: 200px;
		background-color: orange;

}

li {
	text-align: center;
	font-family:Lobster;
	color: green;
	background: yellow;
	list-style-type:none;
	border-radius: 50%;
	text-align: center;
display: table;
width: 150px;
height: 150px;

}

li>div {

	display: table-cell;
vertical-align: middle;
}

